* {
    box-sizing: border-box;
}
.core{
    font-size: 20px;
    text-align: center;
    color: #444;
}

nav, footer {
    padding: 1%;
    background-color: #333;
}

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

header{
    padding: 13%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .row{
      display: flex;
  }



  .alpha{
      background-color: rgba(255, 228, 196, 0.11);
      flex: 30%;
  }

  .beta{
      background-color: blanchedalmond;
      flex: 70%;
  }

  section{
      min-height: 200px;
      background-color: grey;
      padding: 5%;
  }

