* {
    box-sizing: border-box;
}

body{
    font-family: 'EB Garamond', serif;
    margin: 0%;

}

.core{
    font-size: 20px;
    text-align: center;
    color: #444;
    background-color: #e3dac9;
}

nav, footer {
    padding: 1%;
    background-color: rgb(29, 29, 29);
    color: silver;
}

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid rgb(102, 78, 18);
}

header{
    padding: 10%;
    height: auto;
    width: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: silver;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #e3dac9;
    color: black;
    border-radius: 2%;
  }

  .row{
      display: flex;
  }



  .alpha{
      flex: 30%;
      border-right:1px black solid;
  }

  .beta{
      flex: 70%;
  }

  section{
      min-height: 200px;
      padding: 5%;
  }

.bio{
    background-color: rgb(29, 29, 29)    !important;
    color: silver                !important;
    font-style: italic            !important;
}

p{
    line-height: 1.6;
}

.intro{
    display: flex;
}

.name {
    flex: 30%;
    border-right: 1px black solid;
}

.blurb{
    flex: 70%;
}

.contacts{
    background-color: rgb(29, 29, 29)    !important;
    color: silver                !important;

}

.photo{
    max-width: 100%;
    max-height: 100%;
}

footer{
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 320px){
    

    .row{
        display: flex;
        flex-direction: column;
    }

    .alpha{
       border-bottom: 1px solid black;
        border-right: none;
    }

    .bio{
        text-align: left;
    }

}

@media only screen and (min-width: 550px){
    

    .row{
        display: flex;
    }
  
  
  
    .alpha{
        flex: 30%;
        
        
    }
  
    .beta{
        flex: 70%;
    }

}

@media only screen and (min-width: 1000px){
    .alpha{
        border-bottom:none;
        border-right: 1px solid black;
    }

    .row{
        display:flex;
        flex-direction: row;
    }
    .photo{
        max-width: 70%;
        max-height: 70%;
    }

}